<mat-card class="example">
    <mat-card-header>
      <mat-card-title text-align="center">Logar no sistema</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="3">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="usuario.nome" name="nome" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="usuario.senha"type="password" name="senha" required>
          </mat-form-field></td>
        </tr></table>
      </form>
      <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'usuario'"></mat-spinner>-->
    </mat-card-content>  
    <mat-card-actions class="centers">    
      <button mat-raised-button (click)="login()" color="primary">Logar</button>
    </mat-card-actions>
  </mat-card>
  
