<mat-card>
    <mat-card-title class="cor6">Excluir Produto</mat-card-title>
    <form class=" example-container * " >
        <!--<mat-form-field>
            <input matInput placeholder="identificador" id="id" [(ngModel)]="produtos.id" name="id"required>

        </mat-form-field>-->
        <mat-form-field>
            <input matInput placeholder="Nome"  [(ngModel)]="produtos.name" name="name" id="name" required>

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor"  [(ngModel)]="produtos.price" name="price" id="price" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Margem" [(ngModel)]="produtos.value" name="value" id="value" required>

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="produtos.total" name="total" id="total" required>

        </mat-form-field>
       <!-- <mat-form-field>
            <input matInput placeholder="Quantidade vendida" [(ngModel)]="produtos.Qtotal" name="Qtotal" id="Qtotal" >

        </mat-form-field>-->
    </form>

    <div class="button-row">
        <button mat-fab (click)="delete()" color="primary">Excluir</button>
        <button mat-fab (click)="cancel()" color="warn">Cancelar</button>  
       
    </div> 

<br>

<a mat-list-item routerLink="/produtos">

<button > Listar Produtos</button>
</a>
<br>
<a mat-list-item routerLink="/produtos">

    <button >Voltar </button>
    </a>
